.contenedor{

    display: flex;
    flex-direction: column ;
    background-color: #f9f9f9 ;
    margin: 20px;
    padding: 20px; 
    min-height: 200px ;
    justify-content: space-evenly;
    border-radius: 5px;

}