

    <h2 mat-dialog-title class="title">Editar Roles ({{personaje.nombre}})</h2>



    <div class="roles" mat-dialog-content>
        <button *ngFor="let rol of ROLES" (click)="toggleRol(rol)" [ngClass]="{activo:tieneRol(rol)}">
            <img [src]="'../../../../assets/img/'+rol.rol+'.png'" alt="">
            {{rol.rol}}
        </button>
    </div>


    <div mat-dialog-actions>
        <button (click)="actualizarRoles()" class="guardarCambios primary">Guardar Cambios</button>
    </div>


    <!--  -->